#info {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background: url(../assets/images/Background_Intro.png) lightgray 50% / cover no-repeat;
  padding: 120px 163px 57px;

  header {
    width: 700px;

    img {
      width: 112px;
      height: 112px;
      margin-bottom: 56px;
    }

    h2 {
      color: var(--gray-500);
      margin-bottom: 8px;

      span {
        color: var(--red);
      }
    }

    p {
      margin-top: 20px;
      color: var(--gray-400);
    }
  }

  a {
    margin-top: 14px;
  }

  #tags span {
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background: var(--gray-300);
    border-radius: 999px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}